{{ define "main" }}
	<main>
			<!-- <time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "02.01.2006 15:04" }}</time> -->

		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		<br/>
		<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<!-- <div class="carousel-inner" style="height: 500px !important"> -->
			<div class="carousel-inner">
				{{ range first 3 (shuffle $paginator.Pages) }} 
				<div class="carousel-item active">
					<img src="{{ .Params.thumbnail | relURL }}" style="height: 500px !important; object-fit: cover;" class="w-100 mh-50 d-block">
					<a href="{{ .Permalink | relURL }}">
					<div class="carousel-caption d-none d-md-block bg-dark" style="--bs-bg-opacity: .7;">
						<h5>{{ .Title }}</h5>
						<p>{{ .Summary | truncate 200 }}</p>
					</div>
					</a>
				</div>
				{{ end }}
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<br/>
		<div>
			{{ .Content }}
		</div>
		{{ range $paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
		{{ partial "pagination.html" . }}
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
