<!-- <small> -->
<!-- You are here: --> 
<br/>
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
<ol class="breadcrumb">
{{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
</ol>
</nav>
<!-- </small> -->

{{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
  {{ else if not .p1.IsHome }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
  {{ end }}
  {{ if eq .p1 .p2 }}
  <li class="breadcrumb-item" aria-current="page">{{ .p1.Title | truncate 70 }}</li>
  {{ else }}
  <li class="breadcrumb-item active" aria-current="page">
    <a href="{{ .p1.RelPermalink }}">{{ .p1.Title | truncate 70 }}</a>
  </li>
  {{ end }}
{{ end }}
